
/* container for Home page content */
.aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* text above image */
#aboutPara {
    background-color: black;
    color: rgb(0, 255, 0);
    text-align: center;
}

/* image of myself between text */
#chair {
    width: 30%;
}

/* text below image */
#aboutPara2 {
    background-color: black;
    color: rgb(0, 255, 0);
    text-align: center;
}
