
/* container for Home page content */
.homeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* text above image */
#homePara {
    background-color: black;
    color: rgb(0, 255, 0);
    text-align: center;
    text-shadow: -1px 1px 0 #000, 
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* image of myself between text */
#nice {
    width: 30%;
}

/* text below image */
#homePara2 {
    background-color: black;
    color: rgb(0, 255, 0);
    text-align: center;
}